
<h1>Página do Administrador</h1>

<p>
    <a href="#" class="menu-link btn btn-outline-secondary" data-url="/Administrador/Create">
        <i class="bi bi-plus-circle"></i> Criar novo Administrador
    </a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Nome de Utilizador</th>
        <th>Email</th>
        <th>Número de Telemóvel</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
