@model PawBuddy.Models.Adotam

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Adoção</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dateA" class="control-label"></label>
                <input asp-for="dateA" class="form-control" />
                <span asp-validation-for="dateA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtilizadorFK" class="control-label"></label>
                <select asp-for="UtilizadorFK" class ="form-control" asp-items="ViewBag.UtilizadorFK"></select>
            </div>
            <div class="form-group">
                <label asp-for="AnimalFK" class="control-label"></label>
                <select asp-for="AnimalFK" class ="form-control" asp-items="ViewBag.AnimalFK"></select>
            </div>
            <p>
                
            </p>
            <div class="form-group">
                <input type="submit" value="Criar Adoção" class="btn-paleta" />
            </div>
        </form>
    </div>
</div>
<p>
    
</p>
<div>
    <a asp-action="Index" asp-controller="Administrador" class="btn-paleta">Voltar ao Painel</a>
</div>