/* Estilo para o título da página */
.page-title {
    font-size: 2rem;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 1.5rem;
}

.card-title {
    color: #0d6efd;
}

/* Estilo para as tabelas de adoções */
.table-adocao {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #fff;
    overflow: hidden;
}

/* Zebra style */
.table-adocao tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

/* Botões de ação */
.btn-acao {
    margin-right: 0.25rem;
    
}

/* ------------------ Index ------------------- */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: none;
    }
}

 .icon-helper {
     font-size: 3rem;
 }
/* Paginação personalizada */
.pagination .page-link {
    color: #8d58a6;
    border: 1px solid #8d58a6;
    margin: 0 3px;
    border-radius: 6px;
    transition: all 0.3s ease;
    background-color: #fff;
}

.pagination .page-link:hover {
    background-color: #b3ebfb;
    color: #212529;
    border-color: #a4c4e4;
}

.pagination .page-item.active .page-link {
    background-color: #8d58a6;
    border-color: #8d58a6;
    color: #fff;
    font-weight: bold;
}

/* --------------- FIM Index -------------- */