@model IEnumerable<PawBuddy.Models.IntencaoDeAdocao>

@{
    ViewData["Title"] = "Index";
}

<div id="conteudo">
    @* Só carrega a partial no fallback se o utilizador for admin *@
    @if (User.IsInRole("Admin"))
    {
        @await Html.PartialAsync("_IndexPartial", Model)
    }
</div>
