@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados Pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>A sua conta contém dados pessoais que nos forneceu. Nesta página pode descarregar ou eliminar esses dados.</p>
        <p>
            <strong>Eliminar estes dados irá remover permanentemente a sua conta, e esta ação não poderá ser revertida.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn-paleta" type="submit">Descarregar Dados</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn-sm btn-danger">Eliminar Conta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}