@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@model PawBuddy.Models.Doa

@{
    ViewData["Title"] = "Nova Doação";
}

<div class="container mt-5">
    <div class="card shadow-lg rounded-4">
        <div class="card-body">
            <h2 class="card-title mb-4 text-center ">Fazer uma Doação</h2>
            <h5 class="text-muted text-center mb-4">Ajude-nos a cuidar dos nossos animais</h5>

            @{
                var animalId = ViewBag.AnimalId;
            }

            <form asp-action="Create" asp-route-id="@animalId" method="post">

            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <div class="mb-3">
                    <label asp-for="PrecoAux" class="form-label fw-semibold">Valor da Doação (€)</label>
                    <input asp-for="PrecoAux" class="form-control" placeholder="Introduza o valor" />
                    <span asp-validation-for="PrecoAux" class="text-danger small"></span>
                </div>

                <input type="hidden" asp-for="UtilizadorFK" />
                <input type="hidden" asp-for="AnimalFK"  />

                <div class="d-grid gap-2 mt-4">
                    <button type="submit" class="btn btn-roxo">
                        <i class="bi bi-heart-fill me-2"></i>Doar Agora
                    </button>
                </div>
            </form>

            <div class="text-center mt-4">
                <a asp-action="Index" asp-controller="Animais" class="btn btn-roxo">
                    <i class="bi bi-arrow-left me-1"></i> Voltar
                </a>
            </div>
        </div>
    </div>
</div>