@model PawBuddy.Models.Doa

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Doa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PrecoAux" class="control-label"></label>
                <input asp-for="PrecoAux" class="form-control"/>
                <span asp-validation-for="PrecoAux" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UtilizadorFK" />
            <input type="hidden" asp-for="AnimalFK" />
            <div class="form-group">
                <input type="submit" value="Guardar Alterações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Administrador" class="btn-paleta">Voltar ao Painel</a>
</div>

