@{
    ViewData["Title"] = "Dados para Transferência";
}

<h2>Obrigado pela sua intenção de adoção!</h2>

<p>Para finalizar o processo, por favor, realize uma transferência para o seguinte IBAN:</p>

<div style="margin-top:20px;">
    <strong>IBAN:</strong> PT50 0002 0123 1234 5678 9015 4
</div>

<p>Após o pagamento, entraremos em contacto consigo.</p>

<a asp-action="Index" asp-controller="Animais" class="btn btn-secondary mt-3">Voltar à lista de animais</a>